# Visual studio code
.vscode/

# Dependency directories
node_modules/

# Build/generate output
dist/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Client

# Server
server/config/default.json
server/config/production.json
