.listing {
  /* =============== Variables =============== */
  $listing-background-color-primary: $color-aqua-haze;
  $listing-color-primary: $color-silver-chalice-70;
  $listing-accent-color-primary: $color-aquamarine;

  $listing-accent-color-primary-transparentize-amount: 0.75;

  $radial-gradient-color-stop-1: 70%;
  $radial-gradient-color-stop-2: 69%;

  $header-height: 45px;
  $header-margin-B: 10px;
  $link-text-wrapper-before-after-size: 20px;
  /* ===============    End    =============== */
  $root: &;

  background-color: $listing-background-color-primary;
  color: $listing-color-primary;

  height: 100%;
  width: 100%;

  font-size: 14px;

  // Mix
  &__button {
    margin-right: 15px;
  }

  &__header {
    background-color: $white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;
    width: 100%;

    padding-left: 40px;
    margin-bottom: $header-margin-B;

    @include media-breakpoint-down(sm) {
      padding-left: $link-text-wrapper-before-after-size;
    }
  }

  &__list {
    display: flex;

    height: 100%;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  &__results {
    height: calc(100% - #{$header-height + $header-margin-B});

    padding-right: 5px;
  }

  &__link-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    padding: 0 30px;

    position: relative;

    &:before,
    &:after {
      content: "";
      height: $link-text-wrapper-before-after-size;
      width: $link-text-wrapper-before-after-size;

      position: absolute;
      bottom: 0;
    }

    &:before {
      left: -$link-text-wrapper-before-after-size;
    }

    &:after {
      right: -$link-text-wrapper-before-after-size;
    }
  }

  &__item {
    &--is-active {
      z-index: 9;
    }
  }

  &__link {
    color: $listing-color-primary;

    display: block;

    height: 100%;

    border-radius: 20px 20px 0px 0px;

    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;

    // State
    &--is-active {
      background-color: $listing-background-color-primary;

      // z-index: 9;

      #{$root}__link-text-wrapper {
        &:before {
          background-image: radial-gradient(
            circle at left top,
            transparent $radial-gradient-color-stop-1,
            $listing-background-color-primary $radial-gradient-color-stop-2
          );
        }

        &:after {
          background-image: radial-gradient(
            circle at right top,
            transparent $radial-gradient-color-stop-1,
            $listing-background-color-primary $radial-gradient-color-stop-2
          );
        }
      }
    }

    &.focus-visible:not(&--is-active),
    &:hover:not(&--is-active) {
      background-color: transparentize(
        $color: $listing-accent-color-primary,
        $amount: $listing-accent-color-primary-transparentize-amount
      );

      #{$root}__link-text-wrapper {
        &:before {
          background-image: radial-gradient(
            circle at left top,
            transparent $radial-gradient-color-stop-1,
            transparentize(
                $color: $listing-accent-color-primary,
                $amount: $listing-accent-color-primary-transparentize-amount
              )
              $radial-gradient-color-stop-2
          );
        }

        &:after {
          background-image: radial-gradient(
            circle at right top,
            transparent $radial-gradient-color-stop-1,
            transparentize(
                $color: $listing-accent-color-primary,
                $amount: $listing-accent-color-primary-transparentize-amount
              )
              $radial-gradient-color-stop-2
          );
        }
      }
    }
  }
}
