.button {
  /* =============== Variables =============== */
  $button-color-primary: $color-white;
  $button-color-secondary: $color-limed-spruce;
  $button-color-tertiary: $color-aquamarine;
  /* ===============    End    =============== */

  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  border: none;

  font-size: inherit;

  cursor: pointer;

  &--light-300 {
    font-weight: 300;
  }

  &--regular-400 {
    font-weight: 400;
  }

  &--medium-500 {
    font-weight: 500;
  }

  &--bold-700 {
    font-weight: 700;
  }

  &--border-radius-50 {
    border-radius: 50%;
  }

  &--primary {
    height: 40px;
    width: 200px;

    border-radius: 3px;
  }

  &--primary-filled {
    background-color: $button-color-secondary;
    color: $button-color-primary;

    &.focus-visible,
    &:hover {
      background-color: darken($color: $button-color-secondary, $amount: 5%);
    }
  }

  &--primary-outlined {
    color: $button-color-secondary;
    border: 1px solid $button-color-secondary;

    &.focus-visible,
    &:hover {
      background-color: darken($color: $color-white, $amount: 1%);
    }
  }

  &--secondary {
    height: 32px;
    width: 160px;

    border-radius: 16px;
  }

  &--secondary-filled {
    background-color: $button-color-tertiary;
    color: $button-color-primary;

    &.focus-visible,
    &:hover {
      background-color: darken($color: $button-color-tertiary, $amount: 5%);
    }
  }

  &--secondary-outlined {
    color: $button-color-tertiary;
    border: 1px solid $button-color-tertiary;

    &.focus-visible,
    &:hover {
      background-color: darken($color: $color-white, $amount: 2%);
    }
  }

  &--menu-primary {
    color: $button-color-tertiary;

    height: 40px;
    width: 40px;

    &.focus-visible,
    &:hover {
      background-color: transparentize(
        $color: $button-color-tertiary,
        $amount: 0.75
      );
    }
  }

  &--map {
    background-repeat: no-repeat;
    background-position: center;

    height: 29px;
    width: 29px;

    &.focus-visible,
    &:hover {
      background-color: darken($color: $color-white, $amount: 2%);
    }
  }

  &--toggle-map {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='%2337474f'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3Crect transform='rotate(-135)' ry='1.5' y='-4.682' x='-24.326' height='3' width='8.5'/%3E%3Crect transform='rotate(135)' ry='1.5' y='-18.824' x='-3.82' height='3' width='8.5'/%3E%3C/svg%3E");
  }

  &__text {
    display: block;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__icon {
    margin: 0 2px;
  }
}
