.details {
  /* =============== Variables =============== */
  $details-color-primary: $color-silver-chalice-70;
  /* ===============    End    =============== */
  $root: &;

  @extend %fieldset-reset;
  @extend %primary-box;
  @extend %primary-box-fieldset;

  font-size: 14px;

  // State
  &--is-expanded {
    #{$root}__title-headline {
      margin: 0 0 20px;
    }

    #{$root}__inputs-wrapper {
      display: block;
    }
  }

  &__inputs-wrapper {
    display: none;
  }

  &__title-headline {
    @extend %fieldset-title-headline;

    margin-bottom: 0;

    cursor: pointer;
  }

  &__expandable-info {
    color: $details-color-primary;
  }

  // Mix
  &__text-input,
  // Mix
  &__checkbox-input,
  // Mix
  &__select-input-helper {
    @extend %primary-input-margin-bottom;
  }

  // Mix
  &__checkbox-input {
    font-size: inherit;
  }
}
