.photo {
  @extend %fieldset-reset;
  @extend %primary-box;
  @extend %primary-box-fieldset;

  font-size: 14px;

  &__title {
    margin-bottom: 20px;
  }

  &__title-headline {
    @extend %fieldset-title-headline;
  }

  &__title-subline {
    font-size: inherit;

    margin: 0;
  }

  // Mix
  &__file-input {
    @extend %primary-input-margin-bottom;
  }
}
