.transaction-box {
  @extend %fieldset-reset;
  @extend %primary-box;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;

  margin-bottom: 15px;

  // Mix
  &__radio-input {
    margin: 0 50px;
  }
}
