.white-space-pre {
  white-space: pre;
}

.multi-inputs {
  $root: &;

  font-size: 14px;

  &--is-separator {
    #{$root}__inputs-wrapper {
      > *:not(:first-child) {
        margin-left: 0;
      }
    }
  }

  &__label-wrapper {
    display: flex;

    margin-bottom: 5px;
  }

  &__label {
    display: inline-block;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__inputs-wrapper {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 10px;
    }
  }
}
