.form-page {
  background-color: $color-aqua-haze;
  color: $color-limed-spruce;

  min-height: calc(100vh - #{$navbar-height});

  &__title {
    font-size: 24px;
    font-weight: 500;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
