%fieldset-reset {
  border: none;

  padding: 0;
}

%primary-box {
  background-color: $color-white;
  box-shadow: 0 5px 6px 0
    transparentize($color: $color-mine-shaft, $amount: 0.9);

  border-radius: 5px;

  margin: 0 0 15px;
}

%primary-box-hover {
  box-shadow: 0 5px 10px 2px
    transparentize($color: $color-mine-shaft, $amount: 0.85);
}

%primary-box-fieldset {
  padding: 10px 20px;
}

%fieldset-title-headline {
  margin: 0 0 20px;

  font-size: 20px;
  font-weight: 500;
}

%primary-label {
  display: inline-block;

  margin-bottom: 5px;

  &::first-letter {
    text-transform: uppercase;
  }
}

%primary-input-margin-bottom {
  margin-bottom: 10px;
}

%primary-input-hover {
  box-shadow: 0 0 0 1px
      transparentize($color: $color-silver-chalice-70, $amount: 0.8),
    0 4px 11px transparentize($color: $color-silver-chalice-70, $amount: 0.8);
}

%primary-button {
  background-color: transparentize($color: $color-black, $amount: 0.75);
}

%primary-button-hover {
  background-color: transparentize($color: $color-black, $amount: 0.5);
}
