// Pallete
$color-white: #fff;
$color-black: #000;
$color-mine-shaft: #262626;
$color-dove-gray: #696969;
$color-melrose: #a8c0ff;
$color-curious-blue: #159ce4;
$color-aqua-haze: #f3f6f8;
$color-silver-chalice: #adadad;
