// Pallete
$color-white: #fff;
$color-black: #000;
$color-mine-shaft: #262626;
$color-dove-gray: #696969;
$color-melrose: #a8c0ff;
$color-curious-blue: #159ce4;
$color-aqua-haze: #f3f6f8;
$color-silver-chalice-70: #adadad;
$color-silver-chalice-68: #b2b2b2;
$color-limed-spruce: #37474f;
$color-hibiscus: #be356a;
$color-casal: #255a6b;
$color-concrete: #f2f2f2;
$color-spring-green: #00e676;
$color-torch-red: #ff1744;
