.file-input-wrapper {
  display: flex;
}

.file-input {
  /* =============== Variables =============== */
  $file-input-background-color-primary: $color-aqua-haze;
  $file-input-background-color-secondary: $color-white;
  $file-input-color-primary: $color-limed-spruce;
  $file-input-color-secondary: $color-silver-chalice-70;
  $file-input-accent-primary: $color-concrete;
  $file-input-accent-secondary: $color-spring-green;
  $file-input-accent-tertiary: $color-torch-red;
  /* ===============    End    =============== */

  $root: &;

  background-color: $file-input-background-color-primary;
  color: $file-input-color-primary;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 130px;
  width: 150px;

  border: 1px dashed $file-input-color-primary;
  border-radius: 3px;

  font-size: 14px;

  cursor: pointer;

  // State
  &--is-drag-accept {
    color: $file-input-accent-secondary;
    border-color: $file-input-accent-secondary;
  }

  // State
  &--is-drag-reject {
    color: $file-input-accent-tertiary;
    border-color: $file-input-accent-tertiary;
  }

  // State
  &--is-disabled {
    background-color: $file-input-accent-primary;
    color: $file-input-color-secondary;
    border-color: $file-input-color-secondary;

    cursor: not-allowed;
  }

  &__label {
    margin-top: 0px;
    margin-bottom: 0px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__accepted-files {
    font-size: 10px;
  }

  &__thumbs-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin-top: 15px;
  }

  &__errors {
    margin-left: 5px;
  }

  &__error {
    color: $file-input-accent-tertiary;

    display: flex;
    align-items: center;

    margin: 0 0 2px;

    font-size: 10px;
  }

  &__error-text {
    display: inline-block;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__icon {
    &--error {
      margin-right: 2px;
    }
  }

  &__thumb {
    background-color: $color-white;

    height: 100px;
    width: 100px;

    overflow: hidden;

    border: 1px solid #adadad;
    border-radius: 2px;

    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;

    position: relative;
  }

  &__thumb-buttons {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 1;
  }

  &__thumb-button {
    @extend %primary-button;

    display: block;

    border: none;

    padding: 2px;
    margin-bottom: 1px;

    cursor: pointer;

    &:hover,
    &.focus-visible {
      @extend %primary-button-hover;
    }
  }

  &__thumb-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
  }

  &__thumb-icon {
    color: $file-input-background-color-secondary;
  }

  &__image {
    display: block;

    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
