.radio-input {
  /* =============== Variables =============== */
  $radio-input-color-primary: $color-limed-spruce;
  $radio-input-color-secondary: $color-silver-chalice-70;
  $radio-input-accent-primary: $color-concrete;

  $radio-input-hover-color-lighten-amount: 15%;
  /* ===============    End    =============== */
  $root: &;

  color: $radio-input-color-primary;

  // State
  &--is-selected {
    #{$root}__dot {
      display: block;
    }

    #{$root}__label {
      cursor: default;
    }
  }

  // State
  &--is-not-selected {
    #{$root}__label {
      &:hover,
      &.focus-visible {
        color: lighten(
          $color: $radio-input-color-primary,
          $amount: $radio-input-hover-color-lighten-amount
        );
      }
    }
  }

  // State
  &--is-disabled {
    color: $radio-input-color-secondary;

    #{$root}__dot-wrapper {
      border-color: $radio-input-color-secondary;
      background-color: $radio-input-accent-primary;
    }

    #{$root}__label {
      cursor: not-allowed;
    }
  }

  &--light-300 {
    font-weight: 300;
  }

  &--medium-500 {
    font-weight: 500;
  }

  &--regular-400 {
    font-weight: 400;
  }

  &--bold-700 {
    font-weight: 700;
  }

  &--image {
    text-align: center;

    #{$root}__dot-wrapper {
      display: none;
    }

    #{$root}__label-text {
      display: block;

      width: 100%;

      margin-left: 0;
    }
  }

  &__input {
    display: none;
  }

  &__dot-wrapper {
    width: 16px;
    height: 16px;

    border: 1px solid $radio-input-color-primary;
    border-radius: 50%;

    position: relative;
  }

  &__dot {
    display: none;

    background-color: $radio-input-color-primary;

    height: 8px;
    width: 8px;

    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__label {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    cursor: pointer;
  }

  &__label-text {
    display: block;

    margin-left: 5px;

    white-space: nowrap;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
