.button {
  /* =============== Variables =============== */
  $button-background-color-primary: $color-limed-spruce;
  $button-color-primary: $color-white;
  /* ===============    End    =============== */

  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  font-size: 16px;

  cursor: pointer;

  &--primary {
    background-color: $button-background-color-primary;
    color: $button-color-primary;

    height: 40px;
    width: 200px;

    border-radius: 3px;

    font-weight: 500;

    &:hover {
      background-color: darken(
        $color: $button-background-color-primary,
        $amount: 5%
      );
    }
  }
}
